body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 2px solid black;
    margin: 2px;
    flex-grow: 1;
    flex-basis: calc(33.333% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#div1 {
    background-color: red;
    height: 120px; /* Altura diferente para el div1 */
}
#div2 {
    background-color: greenyellow;
    height: 80px; /* Altura diferente para el div2 */
}
#div3 {
    background-color: blue;
    height: 160px; /* Altura diferente para el div3 */
}
#div4 {
    background-color: darkslateblue;
    height: 100px; /* Altura diferente para el div4 */
}
#div5 {
    background-color: rosybrown;
    height: 140px; /* Altura diferente para el div5 */
}
#div6 {
    background-color: paleturquoise;
    height: 90px; /* Altura diferente para el div6 */
}
#div7 {
    background-color: grey;
    height: 110px; /* Altura diferente para el div7 */
}
#div8 {
    background-color: orange;
    height: 70px; /* Altura diferente para el div8 */
}
#div9 {
    background-color: brown;
    height: 130px; /* Altura diferente para el div9 */
}



